

.home__container {
    display: flex;
    width: 100%;
    height: 85vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    flex-direction: column;
}

.home__text {
    font-size: 1.3rem;
    font-weight: 550;
    margin-bottom: 10px;
    color: #f4f4f4;
}

.home__input__fields {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4vh;
    margin: 1px;
    border-radius: 10px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 3px;
    border-color: #000;
    border-width: 2px;
    outline: none;
}

.input__fields:focus-visible {
    border-radius: 10px;
    color: blue;
}

.signup__form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 40vh;
    border-radius: 15px;
    flex-direction: column;
    /* margin-top: 1.2rem; */
    background-color: dodgerblue;
    list-style: none;
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.85), 0 10px 17px 0 rgba(0, 0, 0, 0.75); 
}

.fields__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 80%;
    /* height: 75%; */
    border-radius: 10px;
}

.homebtn_group {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style: none;
}

@media(max-width: 450px){
    .home__container {
        display: flex;
        width: 100%;
    }
    .signup__form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
}

@media(max-width: 800px){
    .home__container {
        display: flex;
        width: 100%;
    }
    .signup__form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
}